<h1 class='m-5 text-center'>
	{{username}}({{email}})'s History
</h1>
<table class='table table-hover'>
	<thead>
		<th class='text-center'>
			Login Date/Time
		</th>
		<th>
			User Agent
		</th>

	</thead>
	{{#each loginHistory}}
		<tr>
			<td scope='row' class='text-center'>
				{{dateTime}}
			</td>
			<td>
				{{userAgent}}
			</td>

		</tr>
	{{/each}}
</table>